# **Day 4 :- Assignment On Sets, Dictionaries**

**Save the File with Your Name_RollNumber and Upload on Classroom**

q1: Write a Python program to return a new set with unique items from both sets by removing duplicates.

In [ ]:
#solution
s1 = {1, 5, 3 , 7, 25, 36, 45}
s2 = {2, 3 , 5, 15 , 0, 65, 45}
s = set()

s.update(s1)
s.update(s2)

print(f"the new set created using two sets is: {s}")

the new set created using two sets is: {0, 1, 65, 3, 36, 5, 2, 7, 45, 15, 25}

q2: Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

In [ ]:
#solution
s1 = {1, 2, 3, 5, 6, 7, 25, 36, 95, 45, 62}
s2 = {5, 3, 6, 42, 65, 95, 32, 25, 15}

s1 = (s1 - s2)
print(f"after updating set 1 with only elements that are in set 1 and not in set 2: {s1}")

after updating set 1 with only elements that are in set 1 and not in set 2: {1, 2, 36, 7, 45, 62}

q3: WAP to Check if two sets have any elements in common. If yes, display the common elements

In [ ]:
#solution
s1 = {1, 2, 3, 5, 6, 7, 25, 36, 95, 45, 62}
s2 = {5, 3, 6, 42, 65, 95, 32, 25, 15}

print("the common elements are: ")
for i in s1:
  if i in s2:
    print(i,end =", ")

the common elements are:
3, 5, 6, 25, 95,

q4: WAP to Update set1 by adding items from set2, except common items

In [ ]:
#solution
s1 = {1, 2, 3, 5, 6, 7, 25, 36, 95, 45, 62}
s2 = {5, 3, 6, 42, 65, 95, 32, 25, 15}

s1 = (s1.union(s2)) - (s1.intersection(s2))
print(f"updating set1 by adding items from set2, except common items, the set1 becomes: {s1}")

updating set1 by adding items from set2, except common items, the set1 becomes: {32, 65, 1, 2, 36, 7, 42, 45, 15, 62}

q5: WAP to get the maximum and minimum element in a set in Python, using the built-in functions of Python

In [ ]:
#solution
s1 = {1, 2, 3, 5, 6, 7, 25, 36, 95, 45, 62}
max = max(s1)
min = min(s1)

print(f"maximum element in the set is: {max}")
print(f"minimum element in the set is: {min}")

maximum element in the set is: 95
minimum element in the set is: 1

q6: Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [ ]:
#solution
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dict = {}
for i in range(len(keys)):
  dict[keys[i]] = values[i]

print(f"creating the dictionary from keys and values list is: {dict}")

creating the dictionary from keys and values list is: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

q7: Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.

Sample string : 'AIMLTraining'

Expected output: {'A': 1, 'I': 1, 'M': 1, 'L': 1, 'T': 1, 'r': 1, 'a': 1, 'i': 2, 'n': 2, 'g': 1}

In [ ]:
#solution
s = "GoodGreedy"
dict = {}

for i in s:
  if i in dict:
    dict[i] = dict[i] + 1
  else:
    dict[i] = 1

print(dict)

{'G': 2, 'o': 2, 'd': 2, 'r': 1, 'e': 2, 'y': 1}

q8: Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:

item4 55

item1 45.5

item3 41.3

In [ ]:
#solution
dict = {"item1" : 100, "item2": 10, "item3" : 56, "item4" : 75, "item5" : 90}

dict2 = sorted(dict.items(), key = lambda x:x[1])

print("the top three items are: ")
for i in range(3) :
  print(f"the  item is: {dict2[-(i+1)]}")

the top three items are:
the  item is: ('item1', 100)
the  item is: ('item5', 90)
the  item is: ('item4', 75)

q9:Write a Python program to filter a dictionary based on values.

Original Dictionary:

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}

Marks greater than 170:

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [ ]:
#solution
dict1 = {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}

dict2 = sorted(dict1.items(), key = lambda x:x[1])

n = int(input("enter the least value to search in dictionary: "))
print(f"\nvalues greater than {n} are: ")
for i in dict2:
  if( i[1] >= n ):
    print(i)

enter the least value to search in dictionary: 175

values greater than 175 are:
('Cierra Vega', 175)
('Alden Cantrell', 180)
('Pierre Cox', 190)

# Practice Problems

Ques. print a set and check if duplicates are stored

In [ ]:
s = {7, 2, 3, 4, "hi", 1}
s

{1, 2, 3, 4, 7, 'hi'}

Ques. Check if a element is in set

In [ ]:
if( 3 in s):
  print("it is in set")

it is in set

Ques. Updating a set

In [ ]:
s.update({14, 15, 16})
s

{1, 14, 15, 16, 2, 3, 4, 7, 'hi'}

Ques. create a dictionary and print it.

In [ ]:
dict = { "price": 30 ,
         "item" : "pen",
         "year" : 2000
      }

print(dict)

{'price': 30, 'item': 'pen', 'year': 2000}

Ques. Change value of a specific item by refering to its key in the dictionary

In [ ]:
dict = { "price" : 30 , "item" : "pen" , "year" : 2000}
key = input("enter key: ")
v = input("enter new value: ")

if key in dict:
  dict[key] = v

print(dict)

enter key: price
enter new value: 40
{'price': '40', 'item': 'pen', 'year': 2000}

Ques. Check if a item in a dictionary. #it can be done using keys not values

In [ ]:
dict = { "price" : 30 , "item" : "pen" , "year" : 2000}

key = input("enter key to search: ")

if(key in dict):
  print(f"yes, the item is in dictionary and value of {key} in dict is: {dict[key]}")

enter key to search: price
yes, the item is in dictionary and value of price in dict is: 30

Ques. Make use of following keywords
1. del()
2. clear()
3. pop()

In [ ]:
dict = { "price" : 30 , "item" : "pen" , "year" : 2000}

del dict["price"]

print(f"after deleting price from dictionary, it is{dict}")

dict.pop("item")
print(f"after deleting item from dictionary. it is {dict}")

dict.clear()
print(f"after clearing the dictionary, it is {dict}")

after deleting price from dictionary, it is{'item': 'pen', 'year': 2000}
after deleting item from dictionary. it is {'year': 2000}
after clearing the dictionary, it is {}