
# **Day 2 :- Assignment On Functions, Conditions, Loops**

**Save the File with Your Name_RollNumber and Upload on Classroom**

Q1: Check number
Given an integer n, find if n is positive, negative or 0.
If n is positive, print "Positive"
If n is negative, print "Negative"
And if n is equal to 0, print "Zero".

In [ ]:
#Solution
n = int(input("enter your number: "))
if(n>0):
  print("Positive")
elif(n==0):
  print("Zero")
else:
  print("Negative")

enter your number: 5
Positive

Q2: Sum of n numbers
Given an integer n, find and print the sum of numbers from 1 to n.

In [1]:
#Solution
n = int(input("give your number: "))
sum = 0
for x in range(n+1):
  sum = sum + x
print(f"sum of all numbers till {n} is: {sum}")

give your number: 3
sum of all numbers till 3 is: 6

Q3: Sum of Even Numbers
Given a number N, print sum of all even numbers from 1 to N.

In [2]:
#Solution
n = int(input("give your number: "))
sum = 0
for x in range(n+1):
  if(x%2 == 0):
    sum += x
print(f"Sum of even numbers till {n} is {sum}")

give your number: 3
Sum of even numbers till 3 is 2

Q4: Reverse of a number
Write a program to generate the reverse of a given number N. Print the corresponding reverse number.
Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will be 401 instead of 00401.

In [ ]:
#Solution
n = int(input("enter number to be reversed: "))
x = str(n)
x = x[::-1]
x = int(x)
print(x)

enter number to be reversed: 1200
21

Q5: Nth Fibonacci Number
Provided 'n' you have to find out the n-th Fibonacci Number. Example: Input: 6

Output: 8

In [9]:
#Solution
lis = [0,1]
n = int(input("give your number: "))
fib = 0
for i in range(2,n+1):
  lis.append(lis[i-1] + lis[i-2])
  if i == n:
    fib = lis[i]
print(f"the {n}th fibonacci number is: {fib}")

give your number: 6
the 6th fibonacci number is: 8

Q6: Fibonacci Member
Given a number N, figure out if it is a member of fibonacci series or not. Return true if the number is member of fibonacci series else false.

In [22]:
#Solution
n = int(input("enter your number: "))
lis = [0,1]
ans = False

while lis[len(lis)-1]<=n:
  lis.append( lis[len(lis)-1] + lis[len(lis)-2] )
  if (lis[len(lis)-1] == n):
    ans = True

print(f"Is this number a part of fibonacci series: {ans}")

enter your number: 13
Is this number a part of fibonacci series: True

Q7: Write a Python function to find the maximum of three numbers.

In [ ]:
#Solution
def maximum(a,b,c):
  if (a>b) and (a>c):
    return a
  elif (b>a) and (b>c):
    return b
  else:
    return c

print("enter three numbers")
a = int(input("enter number: "))
b = int(input("enter number: "))
c = int(input("enter number: "))

print(f"the largest number is: {maximum(a,b,c)}")

enter three numbers
enter number: 9
enter number: 5
enter number: 4
the largest number is: 9

Q8: Write a Program to calculate simple interest using function interest() that received principal amount, time and rate and returns calculated simple interest.

In [ ]:
def interest(p,r,t):
  return p*r*t / 100

p = int(input("enter principal value: "))
r = int(input("enter rate: "))
t = int(input("enter time: "))

ans = interest(p,r,t)
print(f"the simple interest is {ans}")

enter principal value: 10
enter rate: 10
enter time: 10
the simple interest is 10.0

Q9: WAP to accept three integers and print the largest of the three

In [ ]:
#Solution
lis = []
print("enter three numbers")
for i in range(3):
  n = int(input(f"enter {i+1}th number: "))
  lis.append(n)

ans = 0
if (lis[0]>lis[1] and lis[0]>lis[2]):
  ans = lis[0]
elif (lis[1]>lis[0] and lis[1]>lis[2]):
  ans = lis[1]
else:
  ans = lis[2]
print("largest number is:", ans)

enter three numbers
enter 1th number: 2
enter 2th number: 4
enter 3th number: 7
largest number is: 7

Q10: WAP that inputs three numbers and print sum of non-duplicate numbers. Duplicate numbers are ignored

In [ ]:
#Solution
lis = []
for i in range(3):
  lis.append(int(input(f"enter {i}th num: ")))

new = []
for i in range(3):
  if(lis[i] not in new):
    new.append(lis[i])

sum = 0
for i in new:
  sum = sum+i

print(f"sum of the numbers without duplicates is: {sum}")

enter 0th num: 2
enter 1th num: 2
enter 2th num: 2
sum of the numbers without duplicates is: 2

Q11: WAP to display a menu for calculating area of circle or perimeter of circle

In [ ]:
#Solution
r = int(input("enter radius: "))
a = True
while(a):
  n = int(input("what do you want to calculate? press 1. area 2. perimeter 3.exit\n"))
  if (n==1):
    print(f"area of the circle is: {3.14*r*r}")
  elif(n==2):
    print(f"perimeter of the circle is {2*3.14*r}")
  elif(n==3):
    a = False
    print(f"exited the menu")
  else:
    print("not a valid choice")

enter radius: 2
what do you want to calculate? press 1. area 2. perimeter 3.exit
1
area of the circle is: 12.56
what do you want to calculate? press 1. area 2. perimeter 3.exit
2
perimeter of the circle is 12.56
what do you want to calculate? press 1. area 2. perimeter 3.exit
7
no a valid choice
what do you want to calculate? press 1. area 2. perimeter 3.exit
3
exited the menu

Q12: WAP that reads three numbers and prints them in ascending order

In [17]:
#Solution
lis = [0,0,0]
for i in range(3):
  lis[i] = int(input(f"enter {i}th number: "))

lis.sort()
print(f"the numbers in ascending order are: {lis}")

enter 0th number: 3
enter 1th number: 2
enter 2th number: 8
the numbers in ascending order are: [2, 3, 8]

Q13: WAP that prints sum of natural numbers between two numbers taken as input

In [ ]:
#Solution
n = int(input("enter 1st number: "))
r = int(input("enter 2nd number: "))
sum = 0
for i in range(n, r+1):
  sum += i

print(f"the sum of natural numbers between the no.s {n} and {r} is {sum}")

enter 1st number: 2
enter 2nd number: 4
the sum of natural numbers between the no.s 2 and 4 is 9

Q14: WAP to calculate factorial of a number

In [ ]:
#Solution
n = int(input("enter number to calculate factorial: "))
fact = 1
for i in range(1,n+1):
  fact = fact*i

print(f"factorial of the number {n} is: {fact}")

enter number to calculate factorial: 4
factorial of the number 4 is: 24

Q15: WAP to input a number and test if it is a prime number or not

In [ ]:
#Solution
n = int(input("enter number: "))
x = n//2
count = 0

for i in range(1,x+1):
  if(n%i == 0):
    count += 1
    if(count>=2):
      break

if(count>=2):
  print("it is not a prime number")
else:
  print("it is a prime number")

enter number: 73
it is a prime number

Q16: WAP to take String line as input and display following stats: Number of uppercase letters, Number of lowercase letters, Number of alphabets and Number of Digits

In [23]:
#Solution
str = input("string input: ")
upper = 0
lower = 0
alpha = 0
digits = 0

for i in range(len(str)):
  if(str[i].isupper()):
    upper += 1
  if(str[i].islower()):
    lower += 1
  if(str[i].isalpha()):
    alpha += 1
  if(str[i].isdigit()):
    digits += 1

print(f"number of upper case letters are: {upper}")
print(f"number of lower case letters are: {lower}")
print(f"number of alphabets are: {alpha}")
print(f"number of digits are: {digits}")

string input: This is Earth-616
number of upper case letters are: 2
number of lower case letters are: 9
number of alphabets are: 11
number of digits are: 3

Q17: WAP to reads a line and a substring and display number of occurences of the given substring  in the line

In [21]:
#Solution
n = input("enter your string: ")
x = input("enter your substring: ")

print(f"number of occurences of {x} in {n} is {n.count(x)}")

enter your string: hello world hello python
enter your substring: hello
number of occurences of hello in hello world hello python is 2

Q18: WAP that takes a string with multiple words and then capitalize the first letter of each word and forms a new string out of it

In [ ]:
#Solution
n = input("enter your string: ")
a = n.title()
print(a)

enter your string: the good greedy
The Good Greedy

### Practice Problems

Ques. enter a string and append it to string bvcoe

In [ ]:
a1 ="bvcoe "
a2 = input()
a1 += a2
print(a1)

college
bvcoe college

Ques. print prime numbers from 1 to 20

In [36]:
for i in range(2, 20):
  count = 0

  for j in range(1, i):

    if(i%j == 0):
      count += 1
  if(count < 2):
    print(i)

2
3
5
7
11
13
17
19

Ques. use string functions

isalpha()

isdigit()

islower()

isupper()

len(string)

lower()

upper()

max()

min()

replace()

swapcase()

split()

In [53]:
a = "hello"

print(f"is a alphabetic: {a.isalpha()}")
print(f"length of string a is: {len(a)}")
print(f"is a alphanumeric: {a.isalnum()}")
print(f"converting a to lower case: {a.lower()}")
print(f"converting a to upper case: {a.upper()}")
print(f"replacing h with b in string a: {a.replace('h','b')}")
print(f"swapping case in string a: {a.swapcase()}")

is a alphabetic: True
length of string a is: 5
is a alphanumeric: True
converting a to lower case: hello
converting a to upper case: HELLO
replacing h with b in string a: bello
swapping case in string a: HELLO

Ques. Function calling and printing values

In [47]:
def a():
  b()
  print("a")

a()

b
a

In [46]:
def b():
  print("b")

b()

b

Ques. Find combinations, nCr taking n,r as input from the user

In [38]:
n = int(input("enter n: "))
r = int(input("enter r: "))

def factorial(a):
  if(a==1 or a==0):
    return 1
  else:
    return a*factorial(a-1)


ans = factorial(n) / (factorial(r) * factorial(n-r))

print(f"value of nCr is: {ans}")

enter n: 4
enter r: 2
value of nCr is: 6.0

Ques. Find permutations, nPr taking input n and r from the user

In [54]:
n = int(input("enter n: "))
r = int(input("enter r: "))

def factorial(a):
  if(a==1 or a==0):
    return 1
  else:
    return a*factorial(a-1)


ans = factorial(n) / factorial(n-r)

print(f"value of nPr is: {ans}")

enter n: 4
enter r: 2
value of nPr is: 12.0

Ques. Print factorial of a number using recursion

In [37]:
n = int(input("enter your number: "))

def factorial(a):
  if(a==1 or a==0):
    return 1
  else:
    return a*factorial(a-1)

print(f"factorial of {n} is {factorial(n)}")

enter your number: 6
factorial of 6 is 720

Ques. Function to add numbers also giving default values to parameters

In [39]:
def add(a=4, b=5, c=2):
  return a+b+c

add(2,4)

8

Ques. Make a function accepting parameters and print the argument passed to it

In [55]:
def fun(parameter):
  print(parameter)

fun("argument")

argument