
# **Day 3 :- Assignment On Lists, Tuples**

**Save the File with Your Name_RollNumber and Upload on Classroom**

q1: WAP to find minimum element from a list of elements along with its index in the list

In [ ]:
#Solution
l = [24, 23, 10, 2, 1, 56, 14, 34]
min = l[0]
idx = 0

for i in range(len(l)):
  if(min>l[i]):
    min = l[i]
    idx = i

print(f"minimum element is: {min} and its index is: {idx}")

minimum element is: 1 and its index is: 4

q2: WAP to calculate mean of a given list of numbers

In [ ]:
#Solution
l = [1, 25, 32, 16, 54, 23, 62, 10]
len = len(l)
sum = 0

for i in l:
  sum += i

print(f"the mean of values in the list is: {sum/len}")

the mean of values in the list is: 27.875

q3: WAP to search for an element in a given list of numbers

In [ ]:
#Solution
l = [21, 26, 32, 15, 74, 65, 42, 49,2, 13]
n = int(input("enter the number to search in the list: "))
s = 0
e = len(l)-1

def binsearch(l, s, e, n):
  mid = (s+e)//2

  if( s <= e):
    if( l[mid] == n):
      print(f"number found, its index is {mid}")
    elif( l[mid] > n):
      binsearch(l, 0, mid-1, n)
    elif( l[mid] < n):
      binsearch(l, mid+1, e, n)
  else:
    print("not found")



binsearch(l, s, e , n)

enter the number to search in the list: 32
number found, its index is 2

q4: WAP to count frequency of given elements in a list of numbers

In [ ]:
#Solution
lis = [1, 2, 2, 3, 4, 5, 9, 12, 32, 54, 62, 13, 2, 12]
count = 0
n = int(input("enter element whose frequency is to be calculated: "))

for i in lis:
  if(i==n):
    count += 1

print(f"frequency of {n} is {count}")

enter element whose frequency is to be calculated: 12
frequency of 12 is 2

q5: WAP to find frequencies of all elements of a list. Also print the list of unique elements in the list and duplicate elements in the list

In [8]:
#Solution
l = [1, 2, 3, 4, 5, 2, 4, 13, 15]
du = []
l2 = []
l1 = []
for i in l:
  if(i not in l1):
    l1.append(i)

for i in l1:
  count = 0
  for j in l:
    if (i==j):
      count += 1
  print(f"frequency of {i} in the list is {count}")
  if(count >= 2) and (i not in du):
    du.append(i)
  else:
    l2.append(i)

print(f"\nunique elements are: {l2}")
print(f"duplicate elements are: {du}")

frequency of 1 in the list is 1
frequency of 2 in the list is 2
frequency of 3 in the list is 1
frequency of 4 in the list is 2
frequency of 5 in the list is 1
frequency of 13 in the list is 1
frequency of 15 in the list is 1

unique elements are: [1, 3, 5, 13, 15]
duplicate elements are: [2, 4]

q6: WAP to calculate and display sum of all odd numbers in the list

In [11]:
#Solution
l = [1, 5, 3, 9, 6, 8, 14, 15, 23, 40]
sum = 0

for i in l:
  if(i%2 != 0):
    sum += i

print(f"sum of all odd numbers in the list is: {sum}")

sum of all odd numbers in the list is: 56

q7: WAP to find second largest number of a tuples of numbers

In [13]:
#Solution
t = (1, 5, 3, 9, 8, 12, 19, 42, 51, 36)
l = list(t)
l.sort()
print(f"the second largest number in the tuple is: {l[len(l)-2]}")

the second largest number in the tuple is: 42

q8: Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.

In [15]:
#Solution
l = [1, 5, 3, 9, 25, 35, 14, 72, 62, 53]
print(l)
print("enter index of numbers to swap: ")

n = int(input("enter first index: "))
x = int(input("enter second index: "))

temp = l[n]
l[n] = l[x]
l[x] = temp

print(f"list after swapping the elements is: {l}")

[1, 5, 3, 9, 25, 35, 14, 72, 62, 53]
enter index of numbers to swap:
enter first index: 2
enter second index: 5
list after swapping the elements is: [1, 5, 35, 9, 25, 3, 14, 72, 62, 53]

q9: WAP to reverse All Strings in String List

In [22]:
#Solution
def reverse(str):
  str2 = str[::-1]
  return str2

l = ["string", "rahul", "karam", "raghav", "jayesh"]
l2 = []
print(f"original list: {l}")

for i in l:
  i = reverse(i)
  l2.append(i)

print(f"list after reversing is: {l2}")

original list: ['string', 'rahul', 'karam', 'raghav', 'jayesh']
list after reversing is: ['gnirts', 'luhar', 'marak', 'vahgar', 'hseyaj']

q10: WAP to  find the maximum frequency element in the tuple

In [23]:
#Solution
t = (2, 5, 4, 9, 14, 52, 3, 2 , 5, 14, 3, 52, 2)
max = 0
max_ele = 0
l = []

for i in t:
  if i not in l:
    l.append(i)

for i in l:
  count = 0
  for j in t:
    if (i == j):
      count += 1
      if ( max < count ):
        max = count
        max_ele = i

print(f"highest frequency element in the tuple is: {max_ele}")

highest frequency element in the tuple is: 2

q11. WAP to illustrate Stack Operations using List

In [25]:
#Solution
l = [1, 5, 3, 9, 14, 25, 36, 74, 85, 96, 25, 35, 15, 26, 24]

def push(i):
  l.append(i)

def pop():
  del l[len(l)-1]

def top():
  return l[len(l)-1]

while 1:
  print("Enter the operation on stack: \n1. push \n2. pop \n3. top\n4. exit")
  n = int(input())

  if(n==1):
    a = int(input("enter element: "))
    push(a)
    print(f"the stack is: {l}")
  elif(n==2):
    pop()
    print(f"the stack is: {l}")
  elif(n==3):
    print(f"element on top of stack is: {top()}")
  elif(n==4):
    print(f"exited")
    break
  else:
    print("not a valid choice")

Enter the operation on stack:
1. push
2. pop
3. top
4. exit
1
enter element: 14
the stack is: [1, 5, 3, 9, 14, 25, 36, 74, 85, 96, 25, 35, 15, 26, 24, 14]
Enter the operation on stack:
1. push
2. pop
3. top
4. exit
2
the stack is: [1, 5, 3, 9, 14, 25, 36, 74, 85, 96, 25, 35, 15, 26, 24]
Enter the operation on stack:
1. push
2. pop
3. top
4. exit
3
element on top of stack is: 24
Enter the operation on stack:
1. push
2. pop
3. top
4. exit
4
exited

q12. WAP to illustrate Queue Operations using List

In [26]:
#Solution
l = [1, 5, 3, 9, 14, 25, 36, 74, 85, 96, 25, 35, 15, 26, 24]

def push(i):
  l.append(i)

def pop():
  del l[0]

def front():
  return l[0]

while 1:
  print("Enter the operation on queue: \n1. push \n2. pop \n3. front\n4. exit")
  n = int(input())

  if(n==1):
    a = int(input("enter element: "))
    push(a)
    print(f"the queue is: {l}")
  elif(n==2):
    pop()
    print(f"the queue is: {l}")
  elif(n==3):
    print(f"element on front of queue is: {front()}")
  elif(n==4):
    print(f"exited")
    break
  else:
    print("not a valid choice")

Enter the operation on queue:
1. push
2. pop
3. front
4. exit
1
enter element: 14
the queue is: [1, 5, 3, 9, 14, 25, 36, 74, 85, 96, 25, 35, 15, 26, 24, 14]
Enter the operation on queue:
1. push
2. pop
3. front
4. exit
2
the queue is: [5, 3, 9, 14, 25, 36, 74, 85, 96, 25, 35, 15, 26, 24, 14]
Enter the operation on queue:
1. push
2. pop
3. front
4. exit
3
element on front of queue is: 5
Enter the operation on queue:
1. push
2. pop
3. front
4. exit
4
exited

q13. WAP that scans an email address and forms a tuple of user name and domain

In [28]:
#Solution
n = input("enter your email address: ")

def scan(n):
  a = n.split("@")
  print(f"the username is: {a[0]}")
  print(f"the domain is: {a[1]}")

scan(n)

enter your email address: lakshay@gmail.com
the username is: lakshay
the domain is: gmail.com

q14. WAP that accepts different number of arguments and return sum of only the positive values passed to it.

In [31]:
#Solution
l = []
n = int(input("enter number of elements to enter: "))

for i in range(n):
  l.append(int(input(f"enter {i}th number: ")))

def sum(l):
  count = 0
  for i in l:
    if( i > 0):
      count += i
  return count

print(f"sum of all positive elements is: {sum(l)}")

enter number of elements to enter: 5
enter 0th number: -2
enter 1th number: 5
enter 2th number: -3
enter 3th number: 4
enter 4th number: -1
sum of all positive elements is: 9

q15. WAP to swap two values using tuple assignment

In [37]:
#Solution
a = [1, 2, 4, 3, 6, 5]

print("choose two elements to swap their values")
n = int(input("enter first index: "))
x = int(input("enter index to swap it with: "))

def swap(a, n,x):
  print(f"list values before swapping: {a} ")
  (a[n],a[x]) = (a[x],a[n])
  print(f"list values after swapping: {a} ")

swap(a,n,x)

choose two elements to swap their values
enter first index: 1
enter index to swap it with: 3
list values before swapping: [1, 2, 4, 3, 6, 5]
list values after swapping: [1, 3, 4, 2, 6, 5]

## Practice Questions.

Ques. Print the different elements in the list with their type

In [ ]:
lis = ["hello", 12, 12.354, 'a']
print(lis)

for i in lis:
  print(f"{i} and its type is: {type(i)}")

type(print(lis[0]))

['hello', 12, 12.354, 'a']
hello and its type is: <class 'str'>
12 and its type is: <class 'int'>
12.354 and its type is: <class 'float'>
a and its type is: <class 'str'>
hello

NoneType

Ques. Print list using for loop

In [ ]:
lis = ["hello", "chinki", "minki", "googly", "doo"]

for i in lis:
  print(i)

hello
chinki
minki
googly
doo

Ques. Find sum of n numbers in list

In [ ]:
lis = []
n = int(input("enter number of elements: "))

for i in range(n):
  lis.append(int(input(f"enter {i}th number: ")))

count = 0
for i in lis:
  count += i

print(f"sum of all numbers is: {count}")

enter number of elements: 3
enter 0th number: 12
enter 1th number: 11
enter 2th number: 10
sum of all numbers is: 33

Ques. Make a 2D list and print its elements. LIST WITHIN LIST

In [ ]:
lis = [ [12, 13, 14], [10, 9, 8], [4,2,3] ]
row = 0
for i in lis:

  print(f"\n{row}th row in the list is: {i}")
  row += 1
  print("individual elements in the list are: ")
  for j in i:
    print(j)

0th row in the list is: [12, 13, 14]
individual elements in the list are:
12
13
14

1th row in the list is: [10, 9, 8]
individual elements in the list are:
10
9
8

2th row in the list is: [4, 2, 3]
individual elements in the list are:
4
2
3

Ques. Find largest and smallest element in the list

In [ ]:
lis = [1, 54, 24, 11, 98, 52, 2, 36, 9]
l = len(lis)

for i in range(l):
  for j in range(0, l-i-1):
    if(lis[j]> lis[j+1]):
      temp = lis[j]
      lis[j] = lis[j+1]
      lis[j+1] = temp

max = lis[len(lis)-1]
min = lis[0]

print(f"max element is: {max}")
print(f"min element is: {min}")

max element is: 98
min element is: 1

Ques. Find max and min element in 2D list

In [ ]:
lis = [ [1,2,3] , [24, 25, 36], [20, 6, 48] ]

min = lis[0][0]
max = 0

for i in lis:
  for j in i:
    if(min>j):
      min = j
    if(max<j):
      max = j

print(f"minimum value in 2D list is: {min}")
print(f"maximum value in 2D list is: {max}")

minimum value in 2D list is: 1
maximum value in 2D list is: 48

Ques. WAP multiply all items in the list

In [ ]:
lis = [1, 21 , 32, 12, 14]
mul = 1
for i in lis:
  mul *= i

print(f"product of all elements in the list: {mul}")

product of all elements in the list: 112896

Ques. WAP take input from user to create a list that should have dat type string, int, float, boolean.

In [ ]:
lis = []
n = int(input("enter number of elements to be inserted: "))

for i in range(n):
  lis.append(input(f"enter {i}th element: "))

print(lis)

enter number of elements to be inserted: 3
enter 0th element: 1
enter 1th element: 2
enter 2th element: 3
['1', '2', '3']

Ques. Inserting elements in list using insert method

In [ ]:
list1 = [1,2,3,4,5,6]
list1.insert(1, 2)
print(list1)

[1, 2, 2, 3, 4, 5, 6]

Ques. Create a list of string and count the number of palindrome in the list.

In [ ]:
lis = []
n = int(input("enter number of input strings: "))

for i in range(n):
  lis.append(input(f"enter {i}th string: "))

def palindrome(str):
  str2 = str[::-1]
  if (str2 == str):
    return 1

  return 0

count = 0

for i in range(len(lis)):
  if palindrome(lis[i]):
    count += 1

print(f"number of palindromes in list are {count}")

enter number of input strings: 3
enter 0th string: hello
enter 1th string: kanak
enter 2th string: rahul
number of palindromes in list are 1

Ques. Delete methods in lists:

1. del()
2. pop()
3. remove()
4. clear()

In [ ]:
l = [1, 2, 3, 4, 5, 6]

#using del method
del l[0]
print(f"using delete method to delete first element, list is: {l}")

#using pop method
ele = l.pop(0)
print(f"popped element: {ele} and the list is: {l}")

#using remove method
l.remove(6)
print(f"using remove method to remove 6, list is: {l}")

#using clear method
l.clear()
print(f"after using clear method, list is: {l}")

using delete method to delete first element, list is: [2, 3, 4, 5, 6]
popped element: 2 and the list is: [3, 4, 5, 6]
using remove method to remove 6, list is: [3, 4, 5]
after using clear method, list is: []

Ques. Copy a list using .copy() function

In [ ]:
list1 = [45, 67.8, "e", 78]
list2 = list1.copy()
print(list1)
print(list2)

[45, 67.8, 'e', 78]
[45, 67.8, 'e', 78]

In [ ]:
list1[1] = 54
print(list1)
print(list2)
#now both lists are different so no changes in list2

[45, 54, 'e', 78]
[45, 67.8, 'e', 78]

In [ ]:
list3 = list1
list1[0] = 98
print(list1)
print(list3)
#now list3 is reference list to list1 so changes to list1 will also occur on list3

[98, 54, 'e', 78]
[98, 54, 'e', 78]

Ques. List Comprehension

In [ ]:
b = [5 for i in range(10)]
print(b)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

Ques. Create a new list using list comprehension replacing a string from the old list

In [ ]:
list1 = ["rahul", "ramu", "raghav", "shweta"]
list2 = ["sehgal" for i in list1]
print(list2)

['sehgal', 'sehgal', 'sehgal', 'sehgal']

Ques. Find kth largest and kth smallest element in the list

In [ ]:
list1 = [12, 23, 86, 9, 2, 69, 5]
list1.sort()
list2 = []
for i in list1:
  if (i not in list2):
    list2.append(i)

n = int(input("enter kth no of largest and smallest value: "))
print(f"the {n}th largest number is: {list2[-n]} and {n}th smallest number is: {list2[n-1]}")

enter kth no of largest and smallest value: 2
the 2th largest number is: 69 and 2th smallest number is: 5

Ques.access tuple items using square brackets

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[0])
print(t[-4:-1])

1
(2, 3, 4)

Ques. Make a tuple that has elements of all data types

In [ ]:
t = (1, 2, "hello", 2.36, True)

for i in range(len(t)):
  print(f"{i}th element is: {t[i]} and its type is: {type(t[i])}")

0th element is: 1 and its type is: <class 'int'>
1th element is: 2 and its type is: <class 'int'>
2th element is: hello and its type is: <class 'str'>
3th element is: 2.36 and its type is: <class 'float'>
4th element is: True and its type is: <class 'bool'>

Ques. Make a list in tuple and verify if the list is still mutable

In [ ]:
t = ([1, 2, 3], "hello", 45)
t[0][0] = 0
print(f"after changing element of list within a tuple, the final list is: {t[0]}")

after changing element of list within a tuple, the final list is: [0, 2, 3]

Ques. Make a program using tuple and count how many elements of the tuple are unique.

In [ ]:
t = (1, 2, 2, 4, 4, 5, 3, 14, 3, 5, 1)
l = []

for i in t:
  if i not in l:
    l.append(i)

print(f"number of unique elements in tuple are {len(l)}")

for i in l:
  j = 0
  for k in t:
    if( i == k):
      j += 1
  print(f"frequency of {i} in tuple is: {j}")

number of unique elements in tuple are 6
frequency of 1 in tuple is: 2
frequency of 2 in tuple is: 2
frequency of 4 in tuple is: 2
frequency of 5 in tuple is: 2
frequency of 3 in tuple is: 2
frequency of 14 in tuple is: 1

Ques. WAP to print only duplicate elements in a tuple

In [ ]:
t = (1, 2, 3, 4, 2, 3, 5, 6, 7)
l = []

for i in t:
  if i not in l:
    l.append(i)

for i in l:
  j = 0
  for k in t:
    if( i == k):
      j += 1
  if(j>1):
    print(f"Duplicate element: {i}, frequency is: {j}")

Duplicate element: 2, frequency is: 2
Duplicate element: 3, frequency is: 2

Ques. print the palindrome string in a tuple

In [ ]:
t = ("raghav", "kanak", "racecar", "bullub", "dahad")

def palindrome(i):
  i2 = i[::-1]
  if(i2 == i):
    print(i, end=", ")

print(f"number of palindromes in tuple are: {count}")

print("Palindromes in the tuple are: ")
for i in t:
  palindrome(i)

number of palindromes in tuple are: 0
Palindromes in the tuple are:
kanak, racecar, bullub, dahad,

Ques. Delete a tuple using del keyword

In [ ]:
tuple1 = ("a", "b", "ab")
del tuple1
print("tuple has been deleted")

tuple has been deleted

Ques. Concatenate two tuples using '+' operator

In [39]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Ques. Convert a tuple into list and modify it

In [38]:
t = (1, 2, 3, 4)
l = list(t)
l[0] = 14
print(f"after typecasting and modifying it, the final list is: {l}")

after typecasting and modifying it, the final list is: [14, 2, 3, 4]